.button {
  border-radius: 5px;
  border: none;
  cursor: pointer;
  outline: none;
  color: var(--color-text);
}

.buttonStandard {
  composes: button;
  background-color: var(--color-elements);
  padding: 5px 15px 5px 15px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

.buttonInline {
  composes: button;
  background-color: inherit;
  border: none;
  padding: 0;
}

.button:focus-visible,
.button:hover {
  outline: 2px solid var(--color-elements--focused);
}

.buttonInline:focus-visible,
.buttonInline:hover {
  outline-offset: 5px;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 5px;
  align-items: center;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
