.container {
  composes: elementContainerRounded from "src/styles/common.module.css";
  min-height: 50px;
  display: flex;
  align-items: center;
  color: var(--color-text-input);
  cursor: text;
  padding: 0 15px 0 15px;
}

.input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: inherit;
  color: var(--color-text-input);
  margin-left: 20px;
  margin-right: 10px;
}

.input:focus {
  outline: none;
}
