:root {
  /* colors */
  --color-background: hsl(0, 0%, 98%);
  --color-elements: hsl(0, 0%, 100%);
  --color-elements--focused: hsl(0, 0%, 95%);
  --color-text: hsl(200, 15%, 8%);
  --color-text-input: hsl(0, 0%, 52%);

  /* layout */
  --margin-app-x: 50px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: hsl(207, 26%, 17%);
    --color-elements: hsl(209, 23%, 22%);
    --color-elements--focused: hsl(209, 23%, 28%);
    --color-text: hsl(0, 0%, 100%);
    --color-text-input: hsl(0, 0%, 100%);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--color-text);
  background: var(--color-background);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
