.toggle {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: 100px;
  background-color: inherit;
  border: none;
  color: var(--color-text);
}

.toggle:hover,
.toggle:focus-visible {
  outline: var(--color-elements--focused) solid 2px;
  border-radius: 5px;
  outline-offset: 5px;
}

.label {
  font-size: 0.8rem;
  user-select: none;
}

.icon {
  width: 20px;
  height: 20px;
  color: var(--color-text);
}
